/*---------------------------
	Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Cambo&family=DM+Sans:wght@400;500;700&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');



// fonts
$base-font-size: 15;
$base-font:'Manrope', sans-serif;
$base-font-s2:'DM Sans', sans-serif;
$heading-font:'Cambo', serif;



// color
$dark-gray: #4B3832;//
$body-color: #687693;
$white: #fff;
$light: #8188a9;
$black: #000;
$small-black: #20170C;//
$cyan: #D4C0BA;//

$theme-primary-color: #AF9067;//
$theme-primary-color-s2: #F7F2EE;//
$body-bg-color: #fff;
$section-bg-color: #fafbfe;
$text-color: #6e6e6e;
$text-light-color: #524946;//
$text-light-color-s2: #9A9695;//
$heading-color: $dark-gray;
$border-color: #A4A09E;//
$border-color-s2: #9A9695;